<html>
<head>
  <title>RIVET</title>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!-- Include bootstrap specific installs -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/images/rivet-icon.png"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: #f3f2fe;">
  <div class="header">
        <a href="{{ url_for('table') }}" class="navbar-brand mb-0 h0" style="font-size: 55px;">
        <img src="static/images/rivet-icon.png" width="90" height="90"/>
        RiVeT: SARS-CoV-2 Recombination Viewer and Tracker
        </a>
        <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
              <li class="nav-item active px-2">
                      <a href="{{ url_for('table') }}" class="nav-link" style="font-size: 20px;">
                              Home
                      </a>
              <li class="nav-item active px-2">
                      <a href="{{ url_for('analysis') }}" class="nav-link" style="font-size: 20px;">
                              Recombination Across the Genome
                      </a>
              <li class="nav-item active px-2">
                      <a href="{{ url_for('getting_started') }}" class="nav-link" style="font-size: 20px;">
                              About
                      </a>
              <!--
              <li class="nav-item active">
                      <a href="{{ url_for('upload') }}" class="nav-link">
                              Upload your results
                      </a>
              <-->
              <li class="navbar-brand navbar-right pull-sm-right m-r-0 px-2">
                      <a target="_blank" href="https://github.com/TurakhiaLab/rivet" class="fa fa-github">
                      </a>
        </div>
    </div>
        
</nav>

</head>
<body>

        <div class="breakpoint_title">
              <h1> Distribution of Breakpoints Across the Genome</h1>
        </div>
        <div class="breakpoint_description">
        </div>
        <div class="breakpoint_download_button">
           <button type="button" onclick="window.location.href='{{ url_for( 'download_breakpoint_plot') }}';" class="btn btn-outline-primary">Download Breakpoint Plot</button>
         </div>

<!-- Breakpoint Plot -->
<!-- <div class="center-screen" id="breakpoint_viz"></div> -->
<img class="center-screen" src="static/midpoint_plot.svg" width="1500" height="1000"/>

<!-- Tree selector buttons for public vs full tree analysis plots <-->
<div class="histogram_title">
    <h1> SARS-CoV-2 Recombinantion Events Inferred Monthly</h1>
    <h5> Select tree</h5>
 <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-primary active" id="public_tree_analysis">
          <input type="radio" name="options" id="public_tree" autocomplete="off">Public Tree
    </label>
    <label class="btn btn-outline-primary" id="full_tree_analysis">
          <input type="radio" name="options" action="/" id="full_tree_analysis" autocomplete="off">Full Tree
    </label>
 </div>
</div>

<div class="histogram_selections" id="histogram_selections">
 <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-primary active" id="plot1">
      <input type="radio" name="options" class='plot' id="plot1" autocomplete="off"> vs. Number of new infections
    </label>
    <label class="btn btn-outline-primary" id="plot2">
      <input type="radio" name="options" class='plot' id="plot2" autocomplete="off"> vs. Number of new genome sequences
    </label>
    <label class="btn btn-outline-primary" id="plot3">
      <input type="radio" name="options" class='plot' id="plot3" autocomplete="off"> vs. Relative to number of new genome sequences
    </label>
 </div>
</div>


<div class="histogram_visuals" id="histogram_visuals">
  <div id="recomb_over_time"></div>
  <div id="cases_histogram"> </div>
  <div class="histogram_description">
      <p>Dataset used for number of new infections: "JHU CSSE COVID-19 Data"<a target="_blank" href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a>
  </div>
</div>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<script src='https://unpkg.com/simple-statistics@7.8.2/dist/simple-statistics.min.js'>
</script>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="static/styles.css"/>

<!-- Visualizations -->
<!-- <script src="static/breakpoint_vis.js"></script> -->
<script src="static/histograms.js"></script>

<!-- Utility functions -->
<script src="static/utils.js"></script>
</body>
</html>
