<html>
<head>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/images/rivet-icon.png"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: #f3f2fe;">
  <div class="header">
				<a href="{{ url_for('table') }}" class="navbar-brand mb-0 h0" style="font-size: 55px;">
				<img src="static/images/rivet-icon.png" width="90" height="90"/>
        RiVeT: Recombination Viewer and Tracker
				</a>
				<button
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				class="navbar-toggler"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
				>
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
							<li class="nav-item active">
											<a href="{{ url_for('table') }}" class="nav-link" style="font-size: 20px;">
															Home
											</a>
							<li class="nav-item active">
											<a href="{{ url_for('breakpoints') }}" class="nav-link" style="font-size: 20px;">
															Recombination Across the Genome
											</a>
							<li class="nav-item active">
											<a href="{{ url_for('getting_started') }}" class="nav-link" style="font-size: 20px;">
														About
											</a>
              <!--
							<li class="nav-item active">
											<a href="{{ url_for('upload') }}" class="nav-link">
															Upload your results
											</a>
              <-->
						  <li class="navbar-brand navbar-right pull-sm-right m-r-0">
											<a target="_blank" href="https://github.com/TurakhiaLab/rivet" class="fa fa-github">
										  </a>
				</div>
    </div>
				
</nav>

</head>
<body>
    <h2 id="about-rivet">About RIVET</h2>
    <p>RIVET is developed and maintained by researchers at <a href="https://turakhia.eng.ucsd.edu/">Turakhia Lab</a> at UC San Diego, primarily <a href="https://github.com/mrkylesmith">Kyle Smith</a> and <a href="https://github.com/yceh">Cheng Ye</a>. </p>
    <p>RIVET’s web interface allows users to explore and analyze a filtered set of SARS-CoV-2 recombinants discovered with the help of <a href="https://github.com/TurakhiaLab/rivet">RIVET’s backend pipeline</a>, which uses the <a href="https://github.com/yatisht/usher">RIPPLES</a> software. This pipeline uses a SARS-CoV-2 phylogeny of public sequences (sourced from GenBank, the China National Center for Bioinformation, and COG-UK) maintained by <a href="https://github.com/AngieHinrichs">Angie Hinrichs</a> at UC Santa Cruz using the <a href="https://github.com/yatisht/usher">UShER software</a>. </p>
    <p>Please find more details about RIVET on our <a href="https://github.com/TurakhiaLab/rivet">GitHub repository</a>. Please use <a href="https://github.com/TurakhiaLab/rivet/issues">GitHub Issues</a> to report problems or provide feedback.</p>
    <h2 id="video-tutorial">Video Tutorial</h2>
    <p>Coming soon!</p>
    <h2 id="disclaimer">Disclaimer</h2>
    <p>The results displayed on this website have been generated using RIVET’s automated <a href="https://github.com/TurakhiaLab/rivet#rivet_backend">backend pipeline</a> and have not necessarily been curated by experts. Not all recombinants displayed on this website are necessarily real and not every recombinant is necessarily represented. </p>
    <p>Common sources of false positive errors in RIVET’s pipeline include, but are not limited to:</p>
    <ul>
        <li>Contamination, sequencing, or assembly errors in the recombinant or parent sequences</li>
        <li>Missing sequences resulting in artificially long branches in the UCSC public tree</li>
        <li>Misalignments or phylogenetic inconsistencies</li>
    </ul>
    <p>Common sources of false negative errors in RIVET’s pipeline include, but are not limited to:</p>
    <ul>
        <li>Too few recombination-informative sites in the recombinant </li>
        <li>More than two breakpoints are required to explain the recombinant</li>
        <li>Too few descendants of the recombinant or its parent in the UCSC public tree</li>
        <li>Recombinant was filtered out due to putative quality issues or low confidence</li>
    </ul>
    <p>We currently update the results on this website <strong>monthly</strong>, but we are planning to increase this frequency. </p>
    <h2 id="acknowledgments">Acknowledgments</h2>
    <p>We are grateful for the feedback ad support from our following collaborators:</p>
    <ul>
        <li>Professor Russell Corbett-Detig (UCSC)</li>
        <li>Angie Hinrichs (UCSC)</li>
        <li>Jakob McBroome (UCSC)</li>
        <li>Alexander Kramer (UCSC)</li>
        <li>Laura Hughes (Scripps Research)</li>
    </ul>
    <p>The tree display links provided through RIVET uses the Treenome Browser, developed by <a href="https://github.com/amkram">Alexander Kramer</a> and <a href="https://github.com/theosanderson">Theo Sanderson</a>. </p>
    <h2 id="citation">Citation</h2>
    <p>Please cite the following paper on RIPPLES if you found this website helpful in your research:</p>
    <ul>
        <li>Yatish Turakhia*, Bryan Thornlow*, Angie S. Hinrichs, Jakob McBroome, Nicolas Ayala, Cheng Ye, Kyle Smith, Nicola De Maio, David Haussler, Robert Lanfear, Russell Corbett-Detig, &quot;Pandemic-Scale Phylogenomics Reveals The SARS-CoV-2 Recombination Landscape&quot;, Nature (2022), <a href="https://doi.org/10.1038/s41586-022-05189-9">https://doi.org/10.1038/s41586-022-05189-9</a>.</li>
    </ul>
    <p>RIVET’s preprint will be posted online soon.</p>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="static/styles.css"/>

</body>
</html>
